<ion-content>

    <ion-grid *ngIf="buscando">
        <ion-row>
            <ion-col class="spinnerCenter">
                <ion-spinner name="crescent"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Películas nuevas</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slidesshow-backdrop [peliculas]="peliculasRecientes"></app-slidesshow-backdrop>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Cartelera</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slides-show-poster [peliculas]="peliculasRecientes"></app-slides-show-poster>

    <ion-grid fixed>
        <ion-row>
            <ion-col>
                <h3>Populares</h3>
            </ion-col>
        </ion-row>
    </ion-grid>

    <app-slides-show-pares [peliculas]="populares" (cargarMas)="cargarMas()"></app-slides-show-pares>
</ion-content>